* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    font-family: "ROBOTO", sans-serif;
  }


  /* BARRA DE ROLAGEM SEM APARECER */
  ::-webkit-scrollbar {
    background-color: #2f2f2f;
    color: #a9a9aa;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb{
    background-color: rgb(255, 2, 102);
    border-color: rgb(255, 2, 102);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ff0266;
    border-radius: 10px;
    border: 10px solid #ff0266;
  }


  /* IMAGEM NA TELA PRINCIPAL */
  .perfil {
      width: 120px;
      height: 120px;
      margin-bottom: 410px;
      position: absolute;
      flex-wrap: wrap;
      z-index: 9999;
  }


/* EFEITO PULSAR LUZ NA IMAGEM */
  /* .luz{
    position: absolute;
    margin-bottom: 410px;
    border-radius: 300px;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    animation: ring 1.5s infinite;
  }

  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }

    100% {
      width: 220px;
      height: 220px;
      opacity: 0;
    }
  } */

  .luz{
    width: 123px;
    height: 123px;
    background-color: #03dac6;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    position: absolute;
    margin-bottom: 410px;
  }

  .luz::after, .luz::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: 50%;
    border: 0.1px solid #03dac6;
    animation: luz 1.5s linear infinite;
  }

  .luz::after{
    animation-delay: .4s;
  }

  @keyframes luz {
    0% {
      transform: scale(.5);
      opacity: 1;
    }

    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }


/* MOUSE INTERATIVO */
.mouse {
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #03dac6 50%, #03dac6 100%);
  position: absolute;
  margin-top: 500px;
  width: 30px;
  height: 43px;
  border-radius: 100px;
  background-size: 100% 200%;
  -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
          animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}

.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.mouse:before {
  width: 26px;
  height: 41px;
  background-color: #222a30;
  border-radius: 100px;
}

.mouse:after {
  background-color: #03dac6;
  width: 2px;
  height:2px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s linear infinite;
          animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #03dac6;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #03dac6;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%, 100% {
    background-color: #03dac6;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #03dac6;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #03dac6;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%, 100% {
    background-color: #03dac6;
  }
}

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}

@-webkit-keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}

/* MOUSE INTERATIVO FIM */
  .nav,
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #1e1f26;
    text-align: center;
    padding: 0 2em;
  }
  
  .nav h1,
  .slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.3rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 3;
  }
  
  h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
  }
  
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }

  h3.span {
    font-size: 2vw;
    letter-spacing: 0.15rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }

  span:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw;
  }
  
  a {
    text-decoration: none;
  }
  
  .nav-container {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 100rem;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    /* box-shadow: 5px 2px 20px 2px rgba(79,209,197,0.5); */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #1e1f26;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .nav-container--top-second {
    position: fixed;
    top: 0;
  }
  .nav-container--top-second {
    position: fixed;
    top: 0;
  }
  
  .nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
  }
  
  .nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
  }
  
  .nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 5px;
    background: #03dac6;
    transition: left 0.3s ease;
  }

  .background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
  }


  /* PÁGINA EM DISPOSITIVOS DESKTOP */
  @media (min-width: 800px) {
    .nav h1,
    .slider h1 {
      font-size: 5vw;
    }
  
    .nav h2,
    .slider h2 {
      font-size: 3vw;
    }
  
    .nav-tab {
      font-size: 1.5vw;
    }
  }


  /* PÁGINA EM DISPOSITIVO MOBILE */
  @media screen only (min-width: 360px) {
    .nav h1,
    .slider h1 {
      font-size: 8vw;
    }
  
    .nav h2,
    .slider h2 {
      font-size: 2vw;
      letter-spacing: 0.2vw;
    }
  
    .nav-tab {
      font-size: 1.2vw;
    }
  }

  .background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes loading {
    to {
      text-shadow: 20px 0 70px #ff0266;
      color: #ff0266;
    }
  }

  .loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  .loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  .loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  .loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
  .loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
  }
  .loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
  }
  .loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
  }
  .loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
  }

  .loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
  }
  .loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
  }
  .loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
  }
  .loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
  }
  .loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
  }
  .loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
  }
  .loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
  }
  .loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
  }
  .loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
  }
  .loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
  }
  .loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
  }
  .loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
  }
  .loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
  }

/* SEÇÃO RML */
  .pagina1 {
    background-color: #1e1f26;
    padding: 0 20px;
    text-align: center;
    justify-content: center;
    height: 100vh;
    padding:  0 2em;
    display: flex;
    flex-direction: column;
  }

  .title{
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.3rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 3;
  }

  .subtitle {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }

  .caixa {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .rml {
    display: flex;
    grid-template-columns: repeat(auto-fit)
    minmax(200px, 1fr);
    gap: 20px;
  }

  .boneco{
    position: relative;
    height: 20rem;
  }

  .boneco_oi{
    margin-top: 2.5rem;
    max-width: 30rem;
    max-height: 30rem;
    object-fit: cover;
    object-position: top;
    inset: 0;
    opacity: 1;
  }

  .texto-apresentacao {
    color: #faebd7;
    text-align: left;
    font-size: 1vw;
    font: "ROBOTO", sans-serif;
    font-weight: 300;
    position:  relative;
    top: 10rem;
  }

  @media only screen and (max-width: 600px) {
    .boneco_oi {
      align-items: center;
      margin-top: -1.4rem;
      max-width: 17rem;
      max-height: 17rem;
      padding: 0 0.5rem;
    }
    
    .texto-apresentacao {
      text-align: center;
      position: absolute;
      top: 84rem;
      padding: 2rem 2rem;
      margin-left: -5rem;
      font-size: 3vw;
    }
  }


  /* SEÇÃO DOS CONTATOS */
  .icon {
    display: inline-block;
    font-size: 34px;
    animation: float 5s ease-in-out infinite;
    margin-top: 40rem;
    letter-spacing: 0.5rem;
  }

  .fa-instagram {
    animation-delay: 1s;
    color: #ff0266;
  }

  .fa-whatsapp {
    animation-delay: 2s;
    color: #25D366;
  }

  .fa-facebook {
    color: rgb(64, 93, 230);
  }

  @keyframes float {
    0%{
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }